# Raw CLI logs contain full page text (copyrighted articles, business contact data); only their
# sha256 lists (runs/<slot>/raw.sha256) are committed. Screenshots stay out of the repo too.
runs/*/raw/
*.png
